.section {
    color: var(--cor-preto2);
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 40px 24px 40px 24px;
}

.section figure {
    margin: 0 auto;
}

.section figure img {
    width: 100%;
}

.section h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.section p {
    font-weight: 400;
}

.bi {
    background-color: var(--cor-bicolor);
}