.section {
    color: var(--cor-preto2);
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 40px 24px 0 24px;
}

.section figure img {
    width: 379px;
}

.section h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.section p {
    font-weight: 400;
}