.section-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
        "titulo"
        "conteudo"
        "imagem"
    ;
    background-color: var(--cor-bicolor);
    padding-bottom: 30px;
}

.section-4 figure {
    grid-area: imagem;
}

.section-4 figure img {
    width: 100%;
}

.section-4 p {
    grid-area: conteudo;
}

.section-4 h1 {
    grid-area: titulo;
    font-family: "luckiest Guy";
    font-size: 2rem;
    font-weight: 400;
    color: var(--cor-preto2);

}