.section-1 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 40px 24px 0 24px;
    height: 562px;
}

.section-1 figure img {
    width: 389px;
}

.section-1 h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.section-1 p {
    font-weight: 400;
}